* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #1E2E3D;
}

body, input, button {
  font-family: Rubik, Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a, a:visited {
  color: initial;
  text-decoration: none;
}