.home_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_container .content {
  padding: 30px 25px;
  background-color: #FFFfFF;
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 370px;
  border-top: 8px solid #293144;
}

.home_container .content .title {
  color: #293144;
  margin-bottom: 35px;
}

.home_container .content .title h1 {
  font-size: 28px;
  font-weight: 700;
}

.home_container .content .title span {
  font-size: 15px;
  opacity: 0.4;
}

.home_container .content form {
  display: flex;
  flex-direction: column;
}

.home_container .content form input {
  border: 1px solid rgba(0, 0, 0, 0.11);
  padding: 12px;
  margin-bottom: 20px;
}

.home_container .content form label {
  font-size: 14px;
  color: #293144;
  margin-bottom: 4px;
}

.home_container .content form button {
  background: #29DA9A;
  color: #FFFFFF;
  padding: 12px;
  font-size: 15px;
  border: none;
  max-width: 100px;
}